.pay-info-list{
  input{
    text-align: right;
  }
  .tip{
    color: #FC5A5A;
    font-size: 1.3rem;
    padding-left: 16px;
    padding-top: 3px;
  }
  .title{
    color: #909090;
    font-size: 1.8rem;
  }
}
